/* estilos de fuentes*/

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Mooli&display=swap');

  
   /*breck point*/
  /* @media only screen and (max-width:  500px){


   }  
*/

  /*
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
*/


/* general  inicio*/

html{
    font-size: 62.5%;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*encabezado*/
.encabezado{
    width: 100%;
    height: 100%;
    background-color: #c6a664;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap:0.5rem 50rem;
    margin: 0 auto;
    max-width: 1200px;
    
}

  
@media only screen and (max-width: 768px){
    .carousel{
        max-width: 1200px;
        margin: auto;
        margin-top: 7rem;
    }
}

@media only screen and (min-width: 769px) {
    .carousel{
        max-width: 1200px;
        margin: auto;
    }
}





@media only screen and (max-width: 768px){
    .navbar{
        max-width: 1200px;
        margin: auto;
    }
    /*
    .contenedor_logo{
        width: 50%;
        height: 100%;
        border: 2px solid black;
    }*/

    .logo{
        filter: sepia(80%);
        width: 70%;
        height: 70%;
        /*filter: opacity(0%);*/   
    }
    


    .container-fluid{
        background-color: #c6a664;
        
    }
    /*
    .navbar-toggler{
    
    }
    */
    .navbar-toggler:hover{
        border: 2px solid beige 
        
    }
    .navbar-toggler:focus{/*anulo el focus que aplica boostrap sobre el borde del boton menu cuando se agrupa*/
        color:beige;
    }

    .offcanvas-end{
        background-color: beige;
    }

    .nav-link{
        margin-left: 20px;
        text-align: right;
        transition: all 1s ease-in-out; /* convierte puntero en mano*/
        font-family: 'Mooli', sans-serif;
        font-size: 1.5rem;
    
    }
    .nav-link:hover{  /* para darle estilo al link cuando se le pasa por arriba con el puntero*/
        border-bottom: 2px solid #786b5e ;
        color: beige
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

@media only screen and (min-width: 767px){
    .navbar{
        max-width: 1200px;
        margin: auto;

    }
    /*
    .contenedor_logo{
        width: 50%;
        height: 100%;
        border: 2px solid black;       
    }*/
    .logo{
        filter: sepia(80%);
        
    }
        
    
    .container-fluid{
        background-color: #c6a664;
        
    }
    /*
    .navbar-toggler{
       
    }
    */
    .navbar-toggler:hover{
        border: 2px solid beige 
        
    }
    .navbar-toggler:focus{/*anulo el focus que aplica boostrap sobre el borde del boton menu cuando se agrupa*/
        color:beige;
    }
    
    .offcanvas-end{
        background-color: beige;
    }
    
    .nav-link{
        margin-left: 20px;
        text-align: right;
        transition: all 1s ease-in-out; /* convierte puntero en mano*/
        font-family: 'Mooli', sans-serif;
        font-size: 1.5rem;
       
    }
    .nav-link:hover{  /* para darle estilo al link cuando se le pasa por arriba con el puntero*/
        border-bottom: 2px solid #786b5e ;
        color: beige
    }
    
    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    }









/*body*/
.cuerpo{
    background-color: #ece2c6;
    width: 100%;
}
/*botones*/


/* formularios*/
.contenedor-formulario-cotizar{
    margin-top: 5%;
    margin-bottom: 10%;
}

.formulario{
    max-width: 1200px;
    margin: auto;
    
}

/* campos formulario*/

.campos-formularios{
     size:  100px;
}




.form-floating{
    height: 4rem;
}


/* define la fuente de los label de los formularios*/
.label-formularios{
    font-size: 1.5rem;
    font-family: 'Mooli', sans-serif;
}


.floatingInput{
 height: 2rem;
}

/* separa los campos de los formularios*/
.row-sm{
    margin-top: 1rem;
}

.fila{
    margin-bottom: 2.5rem;
}


/* aumenta el tamaño de la fila de el campo
 consulta de los formulario*/
.row-campo-consulta{
    height: 12rem;
}


.campo{
    background-color:#c0b8a2 ;
}    

.nombre_campos{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
/* boton enviar formularios*/
/*
.boton_enviar{
    background-color: #786b5e;
    font-family: 'Montserrat', sans-serif;
    color: beige ;
 
}
/*
.boton-enviar-formularios{
    justify-content: end;
} 
*/

.btn {
    font-size: 2rem;
    width: 100%;
}

/*banner  cotizar auto y finanzas*/

/*
.contenedor_texto_banner{
    display: flex;
    justify-content: center;
    align-items: center;
}


*/


@media screen and (max-width: 578px){
    .titulo{
        font-family: 'Mooli', sans-serif;
        font-size: 2rem;
        text-align: center;
        margin:  auto;
        margin-top: 2.5%;
        max-width: 580px;
}

}

@media screen and (min-width: 579px){
    .titulo{
        font-family: 'Mooli', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        margin:  auto;
        margin-top: 5%;
        max-width: 1200px;
}

}
/* general fin */

/*footer*/

.pie_pagina{
    width: 100%;
    max-width: 1200px;
    border-top: 6px solid whitesmoke;
    display: flex;
    justify-content: center;
    gap: 50%;
    margin: 0 auto;
    flex-wrap: wrap;

}

ul.redes li a {
    color: black;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}



.facebook, .instagram, .whatsapp{
    font-size: 2.8rem;
    color: white;
    border-radius: 9px;
}

.facebook{
    background-color: rgb(37, 37, 157);
}
.whatsapp{
    background-color: #00bb2d;
   
}
.instagram{
    background: radial-gradient(circle at  30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)

}

/* estilo de home */

@media  screen and (max-width: 578px){ 
    .parrafo{
        font-family: 'Montserrat', sans-serif; 
        font-size: 1.5rem;
        margin:  auto;
        text-align: center;
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 579px){
    .parrafo{
        font-family: 'Montserrat', sans-serif; 
        font-size: 2.5rem;
        margin:  auto;
        text-align: center;
        max-width: 1200px;
        margin-top: 5%;
    }
}
       



@media  screen and (max-width: 578px){

    .ubicacion {
        margin: auto;
        margin-top: 3rem;
    }
}
.parrafo_banner_home{
    display: flex;
    justify-content: center;
    font-family: 'Mooli', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    width: 100%;
    height: 350px;
    text-align: center;
    color: beige;
    margin-top: 10%;
  
}

@media only screen and (max-width: 768px){
    .contenedor_home{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: 5% auto;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 769px){
    .contenedor_home{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 300px;
        margin: 5% auto;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}

/*estilos seguros*/

.card-body {
    background-color: #786b5e;
    width: 18rem;
    height: 18rem;
}
.nombre_tarjeta{
    font-size: 3rem;
    color:beige;
    border-bottom: 1px solid  beige;
    margin-top: 5%;
}

.card-text{
    font-size: 1.5rem;
    color: beige;

}

.card-text1{
    font-size: 2rem;
    margin-top: 10%;
    color: beige;
}
/*
.banner_seguros{
    display: flex;
    justify-content: center;
    gap: 2rem 10rem ;
    width: 100%;
    height: 100%;
    background-color: #786b5e ;
    background-position: content;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
*/

.contenedor_texto_banner_seguros{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.texto_banner_seguros{  
    color: beige;
    text-justify:center;
    font-family: 'Mooli', sans-serif;
    font-size: 4rem;
    margin: 2px auto;
    text-align: center;
    width: 100%; 
    }
*/
/*
.cuadro_imagen_seguros{
    margin-left: 0;
}
*/
/*
.imagen_seguros{
    filter: sepia(50%);
    width: 100%;
    min-width: 500px;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
    margin-left: 0.9rem;
}
*/

/*botones de link a los formularios */

.contenedor_seguros{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem 10rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 5%;
}






.boton_seguros {
    background-color: #786b5e;
    width: 11rem;
    height: 10rem;
    font-size: 2rem;
    border: none;
    border-style: outset;
    font-size: rem;
    font-family: 'Montserrat', sans-serif;
    color: beige;
}

.ubicacion{
    margin-bottom: 10%;
}

/*estilo de cotizar auto */


/*
.banner{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     background-color: #786b5e ;
     max-width: 1200px;
     margin:  auto;
     flex-wrap: wrap;
     margin-top: 5%;
    /*  display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px 18rem;
    width: 100%;
    height: 100%;
    background-color: #414c3b ;
    max-width: 1200px;
    margin:  auto;
    flex-wrap: wrap;
    margin-top: 5rem;
}
 }
 
 .cuadro_imagen{
    width: 50%;
    height: 100%;
    margin: auto; 
    flex-flow: row wrap;
    width: 50%;
    margin-left: 0;
 }

 .imagen_banner_cotizar{
    margin: auto;
    filter: sepia(50%);
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.cuadro_texto_cotizar{
    background-color: #786b5e;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    flex-flow: row wrap;
    

    width: 33%;
    display: flex;
    margin-right: 2rem;
}

.texto_banner{  
    color: beige;
    text-justify: center;
    font-family: 'Mooli', sans-serif;
    font-size: 3rem;
    margin:  10% 0% 5% 0%;
    text-align: center;
    width: 100%; 
    display: flex;
    text-align: center;
    
 }
*/

@media only screen and (max-width:768px){
    .banner{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 2px 18rem;
       width: 100%;
       height: 100%;
       background-color: #786b5e ;
       
       margin:  auto;
       flex-wrap: wrap;
       margin-top: 7rem;
   }
   
   .cuadro_imagen{
       width: 100%;
       margin-left: 0;
       
      }
   
   
   .imagen_banner_cotizar{
       margin:  auto;
       filter: sepia(50%);
       width: 100% ;
       height: 100%;
       max-width: 100%;
       min-width: 400px;
       max-height: 100%;
       display: flex;
       justify-content: center;
       margin-left: 0;
   }
   /*
   .cuadro_texto_cotizar{
       width: 34%;
       display: flex;
       margin-right: 2rem;
       
   }*/
   .texto_banner{  
       color: beige;
       text-justify:center;
       font-family: 'Mooli', sans-serif;
       font-size: 0;
       margin: 0 auto;
       display: flex;
       text-align: center;
       width: 100%; 
       }
      
   }
   

@media only screen and ((min-width:769px) and (max-width:1024px)){
    .banner{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 2px 18rem;
       width: 100%;
       height: 100%;
       background-color: #786b5e ;
       max-width: 1200px;
       margin:  auto;
       flex-wrap: wrap;
       margin-top: 5rem;
   }
   
   .cuadro_imagen{
       width: 100%;
       margin-left: 0;
       
      }
   
   
   .imagen_banner_cotizar{
       margin:  auto;
       filter: sepia(50%);
       width: 100% ;
       height: 100%;
       max-width: 100%;
       min-width: 400px;
       max-height: 100%;
       display: flex;
       justify-content: center;
       margin-left: 0;
   }
   /*
   .cuadro_texto_cotizar{
       width: 34%;
       display: flex;
       margin-right: 2rem;
   }
   */
   .texto_banner{  
       color: beige;
       text-justify:center;
       font-family: 'Mooli', sans-serif;
       font-size: 0;
       margin: 0 auto;
       display: flex;
       text-align: center;
       width: 100%; 
       }
   }

@media only screen and ((min-width:1025px)){
    .banner{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 2px 18rem;
       width: 100%;
       height: 100%;
       background-color: #786b5e ;
       max-width: 1200px;
       margin:  auto;
       flex-wrap: wrap;
       margin-top: 5rem;
   }
   
   .cuadro_imagen{
       width: 49%;
       margin-left: 0;
       
      }
   
   
   .imagen_banner_cotizar{
       margin:  auto;
       filter: sepia(50%);
       width: 100% ;
       height: 100%;
       max-width: 100%;
       min-width: 400px;
       max-height: 100%;
       display: flex;
       justify-content: center;
       margin-left: 0;
   }
   
   .cuadro_texto_cotizar{
       width: 34%;
       display: flex;
       margin-right: 2rem;
       
   
   }
   .texto_banner{  
       color: beige;
       text-justify:center;
       font-family: 'Mooli', sans-serif;
       font-size: 2rem;
       margin: 0 auto;
       display: flex;
       text-align: center;
       width: 100%; 
       }
   }









.formulario{
    max-width: 1200px;
    margin: auto;
}



.titulo_cotizar{
    display: flex;
    justify-content: center;
    font-family: 'Mooli', sans-serif;
}




/*pagina formulario*/



/*

.contenedro-imagen{
    align-items: center;
}
*/

.frase-imagen{
    font-size: 3rem;    
}




/*pagina finanzas*/


@media only screen and (max-width:768px){
    .banner_finanzas{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px 18rem;
        width: 100%;
        height: 100%;
        background-color: #414c3b ;
        margin:  auto;
        flex-wrap: wrap;
        margin-top: 7rem;
    }

    .cuadro_imagen_finanzas{
        width: 100%;
        margin-left: 0;
    }


    .imagen_finanzas{
        margin:  auto;
        filter: sepia(50%);
        width: 100% ;
        height: 100%;
        max-width: 100%;
        min-width: 400px;
        max-height: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    /*
    .contenedor_texto_banner{
        width: 33%;
        display: flex;
        margin-right: 2rem;

    }
    */
    .texto_banner_finanzas{  
        color: beige;
        text-justify:center;
        font-family: 'Mooli', sans-serif;
        font-size: 0;
        margin: 0 auto;
        display: flex;
        text-align: center;
        width: 100%; 
        }


    .contenedor_finanzas{
        display: flex;
        justify-content: center;
        gap: 10rem;
        align-items: center;
    /* margin: 5% 10% 5% 10%;*/
        width: 100%;
        height: 100%;
        max-width: 1200px;
        max-height: 1000px;  
        margin:  auto;  
        margin-top: 10%;
        margin-bottom: 10%;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px){
    .banner_finanzas{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px 18rem;
        width: 100%;
        height: 100%;
        background-color: #414c3b ;
        max-width: 1200px;
        margin:  auto;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .cuadro_imagen_finanzas{
        width: 100%;
        margin-left: 0;
    }


    .imagen_finanzas{
        margin:  auto;
        filter: sepia(50%);
        width: 100% ;
        height: 100%;
        max-width: 100%;
        min-width: 400px;
        max-height: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    /*
    .contenedor_texto_banner{
        width: 33%;
        display: flex;
        margin-right: 2rem;

    }
    */
    .texto_banner_finanzas{  
        color: beige;
        text-justify:center;
        font-family: 'Mooli', sans-serif;
        font-size: 0;
        margin: 0 auto;
        display: flex;
        text-align: center;
        width: 100%; 
        }


    .contenedor_finanzas{
        display: flex;
        justify-content: center;
        gap: 10rem;
        align-items: center;
    /* margin: 5% 10% 5% 10%;*/
        width: 100%;
        height: 100%;
        max-width: 1200px;
        max-height: 1000px;  
        margin:  auto;  
        margin-top: 10%;
        margin-bottom: 10%;
        flex-wrap: wrap;
    }
}



@media only screen and (min-width:1025px){
    .banner_finanzas{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px 18rem;
        width: 100%;
        height: 100%;
        background-color: #414c3b ;
        max-width: 1200px;
        margin:  auto;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .cuadro_imagen_finanzas{
        width: 50%;
        margin-left: 0;
    }


    .imagen_finanzas{
        margin:  auto;
        filter: sepia(50%);
        width: 100% ;
        height: 100%;
        max-width: 600px;
        min-width: 400px;
        max-height: 400px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .contenedor_texto_banner{
        width: 33%;
        display: flex;
        margin-right: 2rem;

    }
    .texto_banner_finanzas{  
        color: beige;
        text-justify:center;
        font-family: 'Mooli', sans-serif;
        font-size: 2rem;
        margin: 0 auto;
        display: flex;
        text-align: center;
        width: 100%; 
        }


    .contenedor_finanzas{
        display: flex;
        justify-content: center;
        gap: 10rem;
        align-items: center;
    /* margin: 5% 10% 5% 10%;*/
        width: 100%;
        height: 100%;
        max-width: 1200px;
        max-height: 1000px;  
        margin:  auto;  
        margin-top: 10%;
        margin-bottom: 10%;
        flex-wrap: wrap;
    }
}



.parrafo_finanzas{
    border: 2px solid #786b5e ;
    background-color: #414c3b;
    width: 30rem;
    max-width: 1200Px;
    height: 200px;
    font-size: 2.1rem;
    font-family: 'Mooli', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    color:beige;
    padding: 5% 5% 5% 5% ;
    margin: 0 auto;
}

.parrafo_finanzas:hover{
    color:#c6a664;

}
