.pie_pagina{
    @include flex-base;
    width: 100%;
    max-width: $ancho-max;
    border-top: 6px solid whitesmoke;
    gap: 50%;
    margin: 0 auto;
    flex-wrap: wrap;

    &-redes{

        @include flex-centro-adaptable;
        gap: 2rem;

        &-facebook, &-whatsapp, &-instagram{
            font-size: 2.8rem;
             color: white;
             border-radius: 9px;
        }

        &-facebook{
            background-color: rgb(37, 37, 157);
        }

        &-whatsapp{
            background-color: #00bb2d;

        }
        &-instagram{
            background: radial-gradient(circle at  30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

        }
    }
}