.card-body {
    background-color: #786b5e;
    width: 18rem;
    height: 18rem;
}
.nombre_tarjeta{
    font-size: 3rem;
    color:beige;
    border-bottom: 1px solid  beige;
    margin-top: 5%;
}

.card-text{
    font-size: 1.5rem;
    color: beige;

}

.card-text1{
    font-size: 2rem;
    margin-top: 10%;
    color: beige;
}